 <br/>
 <%= form_tag login_supplier_path, :class => "smart-green" do |f| %>
    <h1>Charity Login</h1>
      <label>
        <span>Username: </span><br/>
        <%= text_field_tag :username, nil, placeholder: "Username" %>
      </label>
      <br/>
      <label>
        <span>Password: </span><br/>
        <%= password_field_tag :password, nil, placeholder: "Password" %>
      </label>
      <br />
      <label style = "display: inline-block; margin-right: -10px">
        <%= submit_tag 'Login', :class => 'button' %>
      </label>
      <% if current_supplier && current_supplier.admin %>
        <label style = "display: inline-block; margin-left: 15px; margin-top: 0px;">
          <%= link_to "Signup", new_supplier_path, method: :get, :class => 'signup-link' %>
        </label>
      <% end %>
      <br/>
  <% end %>
  <br/>
