<div class="order_show">
	<div id="order_info">

    <div class = "flash-notice">
    	<p id="notice"><%= notice %></p>
    </div>
	<ul id="consumers">
		<% if @consumer.last_name %>
			<h2>Hi, <%= @consumer.first_name.capitalize + " " + @consumer.last_name.capitalize %></h2>
		<% else %>
			<h2>Hi, <%= @consumer.first_name.capitalize %></h2>
		<% end %>
		<li>You are logged in as: <strong><%= @consumer.username.capitalize%></strong></li>
		<li><strong>Email: </strong><%= @consumer.email %></li>
		<% if !@consumer.phone_number.blank? %>
		<li>
			<strong>Phone Number: </strong><%= number_to_phone(@consumer.phone_number) %>
		</li>
		<%end%>

		<li>
			<strong>Shipping Address: </strong><%= @consumer.address %>
		</li>
	</ul>
	<div id="links_consumer">
		<%= link_to "Update Your Information", edit_consumer_path(@consumer) %> |
		<%= link_to "Check Your Raffles", consumer_orders_path(@consumer) %><br>
		<%= link_to "Notification Settings", consumers_notification_path %><br>
	</div>
	</div>
	<%#= link_to "Delete User", user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete the user \"#{@user.email}?\""} %>
	<br>
</div>
<br>
</ul>
