<% if current_consumer && (current_consumer.username == comment.author_name)%>
	<li class = "comment_yours"><%= link_to image_tag("https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete.png", :size => "12x12"), deal_comment_path(@deal, comment), method: :delete, remote: true, :class => 'delete_comment_link' %>&nbsp;<strong><%= comment.author_name.capitalize %>:</strong> <%= comment.body %><br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span class = "time"><%=time_ago_in_words(comment.created_at)%> ago</span>
	</li>
<%else%>
	<li class = "comment"><strong><%= comment.author_name.capitalize %>: </strong><%= comment.body %><br>
	&nbsp;&nbsp;<span class = "time"><%=time_ago_in_words(comment.created_at)%> ago</span>
	</li>
<%end%>
