<div class="order_show">
  <div id="order_info">
    <div class = "flash-notice">
    <p id="notice"><%= notice %></p>
    </div>
  <ul>
  <% if @deal.orders.count < @deal.threshold %>
        <li id="product_link"><strong>Product: </strong><%= link_to "#{@deal.name}", @deal %></li>
        <li><strong>Participant's Limit:</strong> <%= @deal.threshold %></li>
        <li><strong>Current Number of Participants:</strong> <%= @deal.orders.count %> (<%= @deal.threshold - @deal.orders.count %> Remaining)</li>
        <li><strong>Shipping Address:</strong> <%= @order.address %>
          <span id="updateaddress"><%= link_to 'Edit', edit_consumer_order_path(current_consumer, @order) %></span>
        </li>
    <% elsif @deal.winning_consumer.nil? %>
        <li><strong>Product: </strong><%= link_to "#{@deal.name}", @deal %></li>
        <li><strong>Participant's Limit:</strong> <%= @deal.threshold %></li>
        <li><strong>Current Number of Participants:</strong> <%= @deal.orders.count %> (<%= @deal.threshold - @deal.orders.count %> Remaining)</li>
        <li><strong>Shipping Address:</strong> <%= @order.address%>
        (<%= link_to 'Edit', edit_consumer_order_path(current_consumer, @order) %>)
        </li>
    <% elsif @deal.winning_consumer == current_consumer.username %>
        <li><strong>ParlayVous!! The raffle for the <%= @deal.name %> has ended and YOU were the winner! Your item will be shipped shortly to: <%= @deal.winners_shipping_address %></li>
        <div class="fb-share-button" data-href="http://parlayvous.com/deals/<%= @deal.id %>" data-layout="button"></div>
    <% else %>
        <li><strong>The raffle for the <%= @deal.name %> has ended and the winner was: <%= @deal.winning_consumer.capitalize %></li>
    <% end %>
  </ul>
<br/>
<%= link_to 'Back To Orders', orders_path(current_consumer) %>
<br/>

</div>
</div>

