</br>
<%= form_for [@supplier, @deal], :html => {:class => "pink-green"} do |f| %>
  <h1>Create New Raffle</h1>
  <ul class = "errors">
    <% @deal.errors.full_messages.each do |error| %>
      <li style="color:red"><%= error %></li>
    <% end %>
  </ul>

  <label>
    <span id = "required">Item Name: </span>
    <%= f.text_field :name, placeholder: "Item name" %>
  </label>
  <label>
     <span id = "required">Image URL: </span><br/><br/>
      <%= f.text_field :url, placeholder: "Image Url" %>
  </label>
  <label>
     <span id = "required">Item Description: </span><br/><br/>
     <%= f.text_area :description, placeholder: "Description" %>
  </label>
  <label>
    <span id = "required">Price Per Ticket: </span><br/><br/>
    <%= f.number_field :price, placeholder: "Price"%>
  </label>
  <label>
    <span id = "required">Participant Limit: </span><br/><br/>
    <%= f.number_field :threshold, placeholder: "Participants"%>
  </label>
  <label>
    <span>Product Type: </span><br/><br/>
    <%= f.select :product_type, [ 'Electronics', 'Video Games'], :prompt => 'Product Type' %>
  </label>
  <br/>
  <label style = "display: inline-block; margin-right: -10px; margin-top: 10px">
    <%= link_to 'Back', suppliers_path(current_supplier), :class =>'back-button'%>
  </label>
  <label style = "display: inline-block; float: right; margin-right: -10px; margin-top: 0px;">
    <%= f.submit 'Create Raffle', :class => 'button' %>
  </label>
  <br/>
  <% end %>
  <br/>
