  <div class = "deal_details_div">
    <br>
    <div class = "deal_image_div">
      <ul class = "deal_image_ul">
        <li><%= image_tag @deal.url, :class => "deal_show_image_tag" %></li>
      </ul>
    </div>
    <div class = "deal_description_div">
      <ul class = "deal_description_display">
        <h1 class='deal_name'><%= @deal.name %></h1>
         <p class="charity"><strong>Charity: </strong><%= @deal.supplier.company_name%></p>
        <p class='deal_price_show'><strong>Ticket Price:</strong> <%= number_to_currency(@deal.price) %>&nbsp;or <%= pluralize(@deal.price.to_i*2, 'Point') %></p>
        <p class="bid_limit"><strong>Participant's Limit:</strong> <%= @deal.threshold %></p>
        <% if @deal.orders.count < @deal.threshold %>
        <p class="current_limit"><strong>Current Number of Participants:</strong> <%= @deal.orders.count %></p>
        <% end %>
        <p class="description"><strong>Description:</strong> <%= @deal.description %></p>
      <div class="fb-like"
      data-href="http://parlayvous.herokuapp.com/deals/<%=@deal.id%>"
      data-layout="standard"
      data-action="like"
      data-show-faces="true">
    </div>
    <% if !@deal.is_threshold_reached %>
    <% if current_consumer %>
    <% if current_consumer.orders.find_by_deal_id(@deal.id).nil? %>
    <div class="payment_button"><%= render 'form_order' %></div>
    <% else %>
    <h3>You are already betting on this deal. Good luck!</h3>
    <% end %>
    <% else %>
    <p><%= link_to 'Login', new_consumer_session_path %> as a consumer to order!</p>
    <% end %>
    <% else %>
    <div class = "threshold_notice">
      <h3>This deal has ended and the winner was: <%=@deal.winning_consumer.capitalize%></h3>
    </div>
    </div>
    <%end%>
  </ul>
  <br>
  <br>
  <br>
</div>
<br>  
<br>

<div class = "comments">
    <% if current_consumer%>
        <%if @current_consumer_orders_deal_ids.include? @deal.id%>
            <ul class = "comments_list">
                <li class = "comments_title"><h3>Join the conversation below!</h3></li>
                <span class = "ajax-comment"><%= render partial: 'comments/comment', collection: @deal.comments %></span>
            </ul>
            <ul class = "bottom_comments_list">
                <li class = "comment_create_form"><%= render 'comments/form' %></li>
            </ul>
            <br/>
            <br/>

        <% else%>
            <ul class = "comments_list">
                <li class = "comments_title"><h3>Join the conversation below!</h3></li>
                   <span class = "ajax-comment"><%= render partial: 'comments/comment', collection: @deal.comments %></span>
                <li class = "placeholder"><textarea class = "placeholder" rows="2" cols="40">Buy a ticket to comment . . .</textarea></li>
            </ul>
            <br/>
            <br/>

        <%end%>
    <% else%>
        <ul class = "comments_list">
            <li class = "comments_title"><h3>Join the conversation below!</h3></li>
                <span class = "ajax-comment"><%= render partial: 'comments/comment', collection: @deal.comments %></span>
            <%if @deal.comments.exists?%>
            <li class = "placeholder"><textarea class = "placeholder" rows="2" cols="40">Buy a ticket to comment . . .</textarea></li>
            <%end%>
        </ul>
        <br/>
        <br/>

    <%end%>
</div>
