<div class="order_show">
	<div id="order_info">
	<h3 style = "font-size: 2vw; text-decoration: underline">Item: <%= @deal.name.capitalize %></h3>
	<h3>Winner's Username: <%= @deal.winning_consumer.capitalize %></h3>
	<ul id="consumers">
  	  <li><strong>Name:</strong> 
  	  	<% if @consumer.last_name %>
			<%= @consumer.first_name.capitalize + " " + @consumer.last_name.capitalize %>
		<% else %>
			<%= @consumer.first_name.capitalize %>
		<% end %>
  	  </li>
	  <li><strong>E-mail:</strong> <%= @consumer.email %></li>
	  <% if !@consumer.phone_number.blank?%>
  	  <li><strong>Phone Number:</strong> <%=number_to_phone(@consumer.phone_number) %></li>
  	  <%end%>
	  <li><strong>Shipping Address:</strong> <%= @deal.winners_shipping_address %></li>
	</ul>
	<div id = "links_consumer">
	<%= link_to 'Back', suppliers_deals_path%>
	</div>

	<br/>
	</div>
</div>