<%= form_for(@supplier, :html => {:class => "smart-green"}) do |f| %>
  <h1>Signup for ParlayVous (Charity)</h1>
  <ul class = "errors">
  <% @supplier.errors.full_messages.each do |error| %>
    <li style="color:red"><%= error %></li>
  <% end %>
  </ul>
  <label>
    <span id = "required">Charity Name: </span><br/><br/>
    <%= f.text_field :company_name, placeholder: "Charity Name"%>
  </label>
  <label>
    <span id = "required">Email: </span><br/><br/>
    <%= f.email_field :email, placeholder: "E-mail"%>
  </label>
  <label>
    <span id = "required">Username: </span>
    <%= f.text_field :username, placeholder: "Username" %>
  </label>
  <label>
     <span id = "required">Password: </span><br/><br/>
     <%= f.password_field :password, placeholder: "Password" %>
  </label>
  <label>
     <span id = "required">Confirm Password: </span><br/><br/>
     <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
  </label>
  <label>
    <span id = "required">Address: </span><br/><br/>
    <%= f.text_field :address, placeholder: "Address"%>
  </label>
  <br/>
  <label>
  <%= f.submit 'Create Supplier', :class => 'button' %>
  </label>
<% end %>
<br/>
